<br>
<br>
<br>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <img [src]="recipe.imagePath" alt="">
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <h5>{{recipe.name}}</h5>
    <h5>{{recipe.description}}</h5>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
        Manage Recipe
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Add to shopping List</a>
        <a class="dropdown-item" [routerLink]="['edit']">Edit Recipe</a>
        <a (click)="onDeleteRecipe(recipe.id)" class="dropdown-item">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>

<div class="row ">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <ul class="list-group">
      <li *ngFor="let ingredient of recipe.ingredients"
          class="list-group-item shadow">{{ingredient.amount}} {{ingredient.name}}
      </li>
    </ul>
  </div>
</div>
