<br>
<br>
<br>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <img src="https://mdbootstrap.com/img/Photos/Others/placeholder1.jpg" alt="">
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h5>Name of the recipe</h5>
    <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipes <span class="caret"></span>
    </button>
    <h5>Description of the recipe</h5>
  </div>
</div>

<div class="row ">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <ul class="list-group">
      <li class="list-group-item shadow">6 Milk</li>
      <li class="list-group-item shadow">6 Milk</li>
    </ul>
  </div>
</div>




