img {
  width: 595px;
  height: 500px;
  z-index: 0;
}


.shadow {
  margin: 5px;
  border: 2px solid #ffe6e6;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.13);
}

li.list-group-item.shadow {
  margin-left: 0px;
}

button.btn.btn-primary.dropdown-toggle {
  left: 30px;
}

#dropdown {
  right: 10px;
}

button.btn.btn-primary.dropdown-toggle {
  left: 0px;
}

#dropdown {
  right: 10px;
}

