<div class="row">
  <div class="col-xs-4 ">
    <h3 className="">
      Edit Recipe
    </h3>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-12 col-lg-12">
    <form [formGroup]="recipeEditForm" (ngSubmit)="onSubmit()">
      <div class="text-right btn-position-save">
        <button *ngIf="!editMode" [disabled]='!recipeEditForm.valid' type="submit" class="btn btn-primary">Save</button>
        <button *ngIf="editMode" [disabled]='!recipeEditForm.valid' type="submit" class="btn btn-primary">Update</button>
        <button (click)="onCancel()" type="button" class="btn btn-warning">Cancel</button>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" type="text" class="form-control" id="name" placeholder="Title">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input formControlName="imagePath" type="text" class="form-control" id="imagePath"
                   placeholder="https://www.imagePath">
          </div>
        </div>
      </div>
      <div class="row">
        <div cclass="col-xs-3 col-sm-3 col-md-12 col-lg-12">
          <div class="form-group">
            <img class="img-responsive" src="{{imagePath}}" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-12 col-lg-12">
          <div class="form-group">
            <label for="description">Desciption</label>
            <textarea formControlName="description" class="form-control" rows="6" type="text" id="desription"
                      placeholder="Type here ... "></textarea>
          </div>
        </div>
      </div>
      <br>
    </form>
  </div>
</div>
<div class="row ">
  <div class="col-12">
    <ul class="list-group">
      <div
        *ngFor="let ingredient of editedRecipe?.ingredients">
        <div class="col-12">
          <li class="list-group-item shadow">{{ingredient.amount}} {{ingredient.name}}
            <div class="col-4 float-right">
              <button class="btn" (click)="onDeleteIngredient(ingredient)"><i class="fa fa-edit float-right"></i></button>
              <button class="btn"><i class="fa fa-trash float-right"></i></button>
            </div>
          </li>
        </div>
      </div>
    </ul>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <br>
    <button routerLink="newIngredient" type="button" class="btn btn-secondary">Add Ingredient</button>
    <app-ingredient-form></app-ingredient-form>
  </div>
</div>
